@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'Material Icons';
	src: url('fonts/MaterialIcons-Regular.eot');
	src: local('☺'), url('fonts/MaterialIcons-Regular.woff') format('woff'), url('fonts/MaterialIcons-Regular.ttf') format('truetype'), url('fonts/MaterialIcons-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    width: 1440px;
    height: 1350px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: #F4F4F4;
    padding-top: 140px;
    position: relative;
}
    
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

.logo {
    position: absolute;
    left: 30px;
    top: 30px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    top: 140px;
    padding: 0 140px;
    height: 70px;
    width: 100%;
    margin-bottom: 40px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__brand {
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}
.nav__link {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 20px;
    height: 100%;
}
.nav__link:hover {
    font-weight: 700;
    color: rgba(31, 32, 65, 0.75);
}
.nav__dropdown {
    width: 24px;
    height: 22px;
    border: none;
    margin-left: 1px;
    background-color: rgb(255,255,255);
    color: rgba(31, 32, 65, 0.5);
    padding: 0;
    cursor: pointer;
    outline: none;
}
.nav__button-enter {
    position: relative;
    margin-left: 20px;
    height: 34px;
    width: 87px;
    border: 0;
    padding: 2px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat';
    line-height: 29.5px;
    outline: none;
}
.nav__button_background {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-color: rgb(255,255,255);
    color: #BC9CFF;
}

.nav__button-register {
    color: rgb(255,255,255);
    width: 196px;
}

.nav__authorization {
    margin-left: 20px;
    padding: 6px 0px 6px 20px;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
}
/* ---------------FOOTER--------------------*/
.footer__page {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 372px;
    padding: 100px 140px 0 140px;
    margin-bottom: 1px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.footer__info {
    display: block;
    width: 260px;
    height: 132px;
    text-align: start;
    margin-right: 40px;
}

.footer__brand {
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    margin: 0;
    padding-top: 17px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.footer__nav{
    display: grid;
    width: 143px;
    height: 168px;
}
.footer__about-us {
    display: grid;
    width: 108px;
    height: 168px;
    margin-left: 57px;
}
.footer__support {
    display: grid;
    width: 149px;
    height: 130px;
    margin-left: 92px;
}
.footer__subscribe {
    display: grid;
    width: 260px;
    height: 84px;
    margin-left: 51px;
}
.footer__link_upper, .footer__subcribe_upper {
    margin-bottom: 21.5px;
    margin-top: 4.5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1F2041;
    text-decoration: none;
}
.footer__link {
    margin-bottom: 21.5px;
    text-decoration: none;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}
.footer__subcribe_upper {margin-bottom: 4px;}
.footer__subcribe-text {
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
    margin-bottom: 23px;
}

.footer__email {
    position: relative;
    width: 260px;
    height: 44px;
}
.footer__email-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    
    padding-left: 14px;
}
.footer__email-field:focus {
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.75);
} 
.footer__email-field::placeholder {
    color: rgba(31, 32, 65, 0.25);
    font-size: 14px;
    font-family: 'Montserrat';
}
.footer__email-button {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 10px 9px 7px 9px;
    cursor: pointer;
    top: 0;
    right: 1px;
    outline: none;
}
.arrow_forward {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__copyright {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: rgb(255,255,255);
    margin-bottom: 40px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer__copyright-text {
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}
.social-icons {
    height: 22px;
    width: 22px;
    margin-left: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 768px;
    height: 367px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
}